/*Reset body*/
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;  
  margin: 0;
  padding: 0;
}

/*Reusable classes*/

.w-format { /*quitar formato de lista*/
  list-style: none;
}

.w-line {
  color: #fff;
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

hr.star-black {
  border: none;
  border-top: solid 4px;
  color: #2c3e50;
  max-width: 220px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
}

hr.star-black:after {
  background-color: #ffF;
  font-family: FontAwesome;
  font-size: 1.75em;
  position: relative;
  top: -.5em;
  display: inline-block;
  padding: 0 .25em;
  content: '\f005';
}

hr.star-white {
  border: none;
  border-top: solid 4px;
  color: #fff;
  max-width: 220px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
}

hr.star-white:after {
  background-color: #18bc9c;
  font-family: FontAwesome;
  font-size: 1.7em;
  position: relative;
  top: -.5em;
  display: inline-block;
  padding: 0 .25em;
  content: '\f005';
}

/*Especific classes*/

/*Navigation*/
nav ul li {
  display: inline;
  padding: 8px;
}

.aNav:hover {
  color: #18bc9c;
}

.nav-left {
  display: inline-block;
  font-size: 2em;
}

.nav-rigth {
  display: inline-block;
  font-size: 1em;
  margin-left: 37%;
}

.container {
  background-color: #2c3e50;
  font-weight: 700;
  padding: 28px;
  text-align: center;
}

/*Header*/
header {
  background: #18bc9c;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.imgHead {
  padding-bottom: 15px;
  width: 250px;
}

header span {
  color: #fff;
}

div span:first-child {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5em;
  font-weight: 700;
}

div span:nth-of-type(2) {  
  font-size: 1.6em;
}

/*Portfolio Section*/
#portfolio {
  padding-bottom: 66px;
  padding-top: 90px;
  text-align: center;
}

#portfolio h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8em;
  font-weight: 700;
}

.grid {
  margin: 0 30px;
}

.grid div {
  display: inline-block;
  padding: 10px;
  width: 25%;
}

.imgPort {
  max-width: 100%;
}

/*About Section*/
#about {
  background-color: #18bc9c;
  color: #fff;
  text-align: center;
  padding: 90px 0;
}

#about h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8em;
  font-weight: 700;
}

.column1, .column2 {
  display: inline-block;
  padding: 0 15px;
  width: 32%;
}

.boxAbout {
  margin: auto 95px;
}

.boxAbout p {
  font-size: 1.1em;
  line-height: 28px;
  text-align: left;  
}

.btnAbout {
  padding-top: 45px;
}

.aButton {
  border: 1.5px solid;
  padding: 15px;
  border-radius: 5px;
}

.aButton:hover {
  background-color: #fff;
  color: #18bc9c;
}

.textBtn {
  font-size: 1.1em;
}

/*Contact Section*/
#contact {
  padding: 90px 0;  
}

.boxContact {
  margin: 0 23%;
  text-align: center;
}

.btnSend {
  margin: 0 22%;
}

#contact h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8em;
  font-weight: 700;
}

#contact button {
  background-color: #18bc9c;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: .9em;
  font-weight: 700;
  margin: 10px;
  padding: 10px 15px;
  }

  #contact input {
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 1.1em;
    height: 80px;
    width: 100%;
}

#message {
  padding: 39px 0 160px;
}

/*Footer*/
footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
}

.footer-above {
  margin: 0 100px 60px;
  overflow: auto;
  padding-bottom: 40px;
}

.footer-above div {
  float: left;
  padding-top: 50px;
  width: 33%;  
}

.footer-above div h3 {
  font-size: 1.75em;
  font-weight: 700;
}

.footer-above div p {
  font-size: 1.15em;
  line-height: 1.7;
}

.footer-column2 ul li {  
  display: inline-block;
  margin: 0 2px;
}

.footer-column2 ul li a {
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 1.3em;
  line-height: 47px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.footer-column2 ul li a:hover {
  background-color: #fff;
  color: #18bc9c;
}

.footer-column3 p a {
  color: #18bc9c;
}

.footer-column3 p a:hover {
  text-decoration: underline;
}

.footer-below {
  clear: both;
  font-size: .95em;
  padding: 30px;
}